Assumptions in Multilinear Regression 
1. linearity: the relationship between the predictors(x) and the response (y) is linear.
2. Independence: Observations are independent of eachother
3. Homoscedasiticity:The residuals(Y-Y_hat) exhibit constant variance at all levels of the predictor

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from statsmodels.graphics.regressionplots import influence_plot
import numpy as np

In [5]:
cars=pd.read_csv("Cars.csv")
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [4]:
cars = pd.DataFrame(cars,columns=["HP","vOL","SP","WT","MPG"])
cars.head()

   HP  vOL          SP         WT        MPG
0  49  NaN  104.185353  28.762059  53.700681
1  55  NaN  105.461264  30.466833  50.013401
2  55  NaN  105.461264  30.193597  50.013401
3  70  NaN  113.461264  30.632114  45.696322
4  53  NaN  104.461264  29.889149  50.504232

### Description of columns
- MPG:Mile per gallon
- HP: Horse Power
- VOL: volume of the car
- SP: Top speed of the car
- WT: Weight of the car

In [6]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HP      81 non-null     int64
 1   MPG     81 non-null     float64
 2   VOL     81 non-null     int64
 3   SP      81 non-null     float64
 4   WT      81 non-null     float64
dtypes: float64(3), int64(2)
memory usage: 3.3 KB

### observations
- There are no missing values
- There are 81 observations(81 different cars data)
- The data types of the columns are also relevant and valid