In [4]:
  import pandas as pd

In [6]:
data = [10, 20, 30,40]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
data=[1,2,3,4]
i=['A','B','C','D']
series=pd.Series(data, index=i)
print(series)

A    1
B    2
C    3
D    4
dtype: int64

In [8]:
data={'a':10,'b':20,'c':30}
series=pd.Series(data)
print(series)

a    10
b    20
c    30
dtype: int64

In [9]:
import pandas as pd

data={'Name':['Alice','Bob','Mary'],'Age':[25,30,34],'Country':["USA",'UK','AUS']}
df = pd.DataFrame(data)
print(df)

    Name  Age Country
0  Alice   25     USA
1    Bob   30      UK
2   Mary   34     AUS

In [10]:
import numpy as np

array=np.array([[1,2,3],[4,5,6],[7,8,9]])
print(array)
df=pd.DataFrame(array,columns=['A','B','C'])
print(df)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9